<h2>Merged PRs</h2>

{{#each model.pullRequests.nodes as |pr|}}
  <h3 data-test-repo-pr-title>{{pr.title}}</h3>
  <p data-test-repo-pr-author>{{pr.author.login}}</p>

  <div data-test-repo-pr-body>
    {{{pr.bodyText}}}
  </div>
{{/each}}
