<h1>OSS Dashboard</h1>

{{#if session.isAuthenticated}}
  <button {{action "logout"}}>Logout</button>
  {{#link-to "repos"}}Repos{{/link-to}}
{{else}}
  {{#link-to "login"}}Login{{/link-to}}
{{/if}}

{{outlet}}
